
    <div class="turno-container">  
        <header class="header">
            <div class="logo-container">
                <img >
            </div>
            <!-- Muestra la hora actual formateada desde el componente TS -->
            <div class="time-widget">{{ horaActual | date:'mediumTime' }}</div>
        </header>

        <main class="content-area">
            <!-- La tarjeta del turno se muestra si 'turnoActual' tiene un valor -->
            @if (turnoActual) {
                <div class="turno-card" @zoomInOut>
                    <!-- Accede a las propiedades del objeto 'turnoActual' -->
                    <div class="numero-turno">{{ turnoActual.nombre }}</div>
                    
                    <div class="atencion-info">
                        <span>{{ turnoActual.sala }}</span> - <span>{{ turnoActual.piso }}</span> - <span>{{ turnoActual.modulo }}</span>
                    </div>
                </div>
            }

            <!-- El mensaje de bienvenida se muestra si 'showWelcomeMessage' es true -->
            @if (showWelcomeMessage) {
                <div class="tituloLlamado row">
                    <div class="col-md-5"><p>Paciente</p></div>
                    <div class="col-md-3" ><p>Módulo</p></div>
                    <div class="col-md-2"><p>Sala</p></div>
                    <div class="col-md-2"><p>Piso</p></div>
                </div>
                @for (llamado of historial; track $index) {
                    <div class="llamado row">
                        <div class="nombre col-md-5 datoHistorial"><p>{{ llamado.nombre }}</p></div>
                        <div class="modulo col-md-2 datoHistorial detalle ml-1"><p>{{ llamado.modulo }}</p></div>
                        <div class="sala col-md-3 datoHistorial detalle"><p>{{ llamado.sala }}</p></div>
                        <div class="piso col-md-2 datoHistorial detalle"><p>{{ llamado.piso }}</p></div>
                    </div>
                }   
            }
        </main>

        @if (!showWelcomeMessage) {
            
        }

        <footer class="footer">
            <div class="scrolling-text">
                <span class="punto-footer">• </span> 
                <span class="text-footer"> Su atención es nuestra prioridad.</span> 
                
                <span class="punto-footer">&nbsp;&nbsp;• </span> 
                <span class="text-footer"> Recuerde tener su documento de identidad a mano.</span> 
                <span class="punto-footer">&nbsp;&nbsp;• </span> 
                <span class="text-footer"> Visite nuestra página web para más servicios.</span>
            </div>
        </footer>

    </div>
