<form class="formulario" autocomplete="off" [formGroup]="formulario">
    <div class="tituloFormulario">
        Asignación de turnos
    </div>

    <div class="contieneInputRow row">
        <div class="mb-2 floating-label-group col-md-12">
            <input type="text" id="documento" class="form-control form-control-sm miInput documento" formControlName="documento" placeholder=" " (blur)="obtenerCliente()" />
            <label  class="form-label" for="documento">Número de documento</label>
            <div class="contieneLabelError">
                <small class="labelError">{{ retotnaError('documento')}}&nbsp;</small>
            </div>
        </div>

        <div class="mb-2 floating-label-group col-md-12">
            <input type="text" id="nombre" class="form-control form-control-sm miInput nombre" formControlName="nombre" placeholder=" " #nombreInput (input)="capitalizarCadaPalabra()" />
            <label  class="form-label" for="documento" >Nombre del paciente</label>
            <div class="contieneLabelError">
                <small class="labelError">{{ retotnaError('nombre')}}&nbsp;</small>
            </div>
        </div>

        <div class="pantalaNumerica col-md-6">
            <div class="teclado">
                <button class="btn-aceptar" (click)="presionar('1')">1</button>
                <button class="btn-aceptar" (click)="presionar('2')">2</button>
                <button class="btn-aceptar" (click)="presionar('3')">3</button>
                <button class="btn-aceptar" (click)="presionar('4')">4</button>
                <button class="btn-aceptar" (click)="presionar('5')">5</button>
                <button class="btn-aceptar" (click)="presionar('6')">6</button>
                <button class="btn-aceptar" (click)="presionar('7')">7</button>
                <button class="btn-aceptar" (click)="presionar('8')">8</button>
                <button class="btn-aceptar" (click)="presionar('9')">9</button>
                <button class="btn-aceptar" (click)="presionar('0')">0</button>
                <button class="btn-cancelar btn-pantalla" (click)="borrar()">⌫ Borrar documento</button>
                <button class="btn btn-aceptar-pantalla btn-pantalla" (click)="obtenerCliente()">✔ Aceptar documento</button>
                <button type="button" class="btn btn-mic btn-pantalla" (click)="reconocerVoz()">🎤 Dictar documento</button>
                <button class="btn btn-aceptar-pantalla btn-pantalla" (click)="aceptar()">✔ Asigna turno</button>
                <button class="btn-cancelar btn-pantalla" (click)="limpiar()">Limpiar datos</button>
            </div>
        </div>

        <div class="listarSalar col-md-6">
            @for (sala of salas; track $index) {
                @if( sala.atencion_inicial == 'SI'){
                    <div (click)="datoSala( sala.id, sala.sala )" class="sala" [ngClass]="{ 'activo': botonActivo === sala.id }">{{ sala.sala }}</div>
                }
            }
            <div class="datos_ultimo">
                <h3 class="titulo_ultimo">Último turno asignado</h3><hr>
                <div class="nombreTemp"> {{ nombreTemp }} </div>
                <div class="salaTemp"> {{ salaTemp }} </div>
            </div>
            
        </div>


    </div>

     <div class="card flex justify-center" style="border: none;">
    <p-toast [showTransformOptions]="'translateY(100%)'" [showTransitionOptions]="'1000ms'" [hideTransitionOptions]="'1000ms'" [showTransformOptions]="'translateX(100%)'" />
      {{ mensajeToast }} 
    </div>

</form>