<section id="home" class="swiper mySwiper reduced-height-banner">
    <div class="swiper-wrapper">
        <div class="swiper-slide banner-slide" style="background-image: url('https://source.unsplash.com/random/1920x800?technology,coding,woman');">
            <div class="container d-flex align-items-center justify-content-center h-100">
                <div class="banner-content text-center text-white" data-aos="fade-up" data-aos-duration="1000">
                    <h1 class="display-3 fw-bold">Toda tu información a un solo clic.</h1>
                    <p class="lead mt-3">Soluciones tecnológicas a medida para un futuro brillante.</p>
                    <a href="#services" class="btn btn-outline-light btn-lg mt-4">Explora Nuestros Servicios <i class="fas fa-arrow-right ms-2"></i></a>
                </div>
            </div>
        </div>
        <div class="swiper-slide banner-slide" style="background-image: url('https://source.unsplash.com/random/1920x800?data,security,woman');">
            <div class="container d-flex align-items-center justify-content-center h-100">
                <div class="banner-content text-center text-white" data-aos="fade-up" data-aos-duration="1000">
                    <h1 class="display-3 fw-bold">Seguridad y Eficiencia Garantizada</h1>
                    <p class="lead mt-3">Protegemos tus datos y optimizamos tus procesos.</p>
                    <a href="#contact" class="btn btn-outline-light btn-lg mt-4">Contáctanos Hoy <i class="fas fa-envelope ms-2"></i></a>
                </div>
            </div>
        </div>
        <div class="swiper-slide banner-slide" style="background-image: url('https://source.unsplash.com/random/1920x800?web-development,design,woman');">
            <div class="container d-flex align-items-center justify-content-center h-100">
                <div class="banner-content text-center text-white" data-aos="fade-up" data-aos-duration="1000">
                    <h1 class="display-3 fw-bold">Diseño Web que Cautiva</h1>
                    <p class="lead mt-3">Creamos experiencias digitales únicas para tu marca.</p>
                    <a href="#about" class="btn btn-outline-light btn-lg mt-4">Conoce Más <i class="fas fa-info-circle ms-2"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
</section>
