.body-turnity{
    margin: 0 !important;
    min-height: 100vh !important;
}

.contenedor{
    padding-top: 15px;
}

.body-turnity, .contenedor{
  background-color: rgb(235, 236, 253) !important;
}