<footer class="bg-primary-blue text-white py-4">
    <div class="container text-center">
        <p>&copy; 2025 Infoclic. Todos los derechos reservados.</p>
        <div class="social-links mt-3">
            <a href="#" class="mx-2"><i class="fab fa-facebook-f fa-lg"></i></a>
            <a href="#" class="mx-2"><i class="fab fa-twitter fa-lg"></i></a>
            <a href="#" class="mx-2"><i class="fab fa-linkedin-in fa-lg"></i></a>
            <a href="#" class="mx-2"><i class="fab fa-instagram fa-lg"></i></a>
        </div>
    </div>
</footer>