<form class="formulario" autocomplete="off" [formGroup]="formulario">
    <div class="tituloFormulario">
        Crear profesión
    </div>

    <div class="contieneInputRow row">
        <div class="mb-2 floating-label-group col-md-12">
            <input type="text" id="profesion" class="form-control form-control-sm miInput" formControlName="profesion" placeholder=" " />
            <label  class="form-label" for="profesion">Nombre profesión</label>
            <div class="contieneLabelError">
                <small class="labelError">{{ retotnaError('profesion')}}&nbsp;</small>
            </div>
        </div>
        
    </div>

    <div class="botonera">  
        <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-aceptar" (click)="aceptar()" >{{ accion }} profesión</button>
            <button type="button" class="btn btn-cancelar" (click)="cerrar()">Cerrar</button>
        </div>
    </div>

     <div class="card flex justify-center" style="border: none;">
    <p-toast [showTransformOptions]="'translateY(100%)'" [showTransitionOptions]="'1000ms'" [hideTransitionOptions]="'1000ms'" [showTransformOptions]="'translateX(100%)'" />
      {{ mensajeToast }} 
    </div>

</form>
