/* Contenedor de la tabla con scroll horizontal */
.tabla-scroll {
  overflow-x: auto;
  overflow-y: hidden;
  padding: 5px 0;
  margin: 0 auto;
  width: 90%;
  scrollbar-color: #bbb transparent; /* Firefox */
  scrollbar-width: thin;
}

/* Estilo para Webkit (Chrome, Edge, Safari) */
.tabla-scroll::-webkit-scrollbar {
  height: 8px;
}
.tabla-scroll::-webkit-scrollbar-track {
  background: transparent;
}
.tabla-scroll::-webkit-scrollbar-thumb {
  background-color: #bbb;
  border-radius: 4px;
}

/* Tabla con ancho extendido para provocar scroll */
.contiene-tabla-scroll {
    margin: 0 auto;
    width: 90%;
}

/* No aplicar scroll a búsqueda ni paginación */
.header-busqueda, .paginacion {
  width: 80%;
  margin: 0 auto;
}

/* Responsividad */
@media (max-width: 992px) {
  .contiene-tabla-scroll {
    width: 80%;
  }
}

@media (max-width: 768px) {
  .contiene-tabla-scroll {
    width: 200%;
  }
}

@media (max-width: 576px) {
  .contiene-tabla-scroll {
    width: 220%;
  }
}