@if(mostrarReporte == false){
  <form class="formulario" autocomplete="off" [formGroup]="formulario">
      <div class="tituloFormulario">
          Reporte estadístico
      </div>

      <div class="contieneInputRow row">
          <div class="mb-2 floating-label-group col-md-12">
              <input type="date" id="fecha_ini" class="form-control form-control-sm miInput" formControlName="fecha_ini" placeholder=" " />
              <label  class="form-label" for="fecha_ini">Fecha inicial</label>
              <div class="contieneLabelError">
                  <small class="labelError">{{ retotnaError('fecha_ini')}}&nbsp;</small>
              </div>
          </div>

          <div class="mb-2 floating-label-group col-md-12">
              <input type="date" id="fecha_fin" class="form-control form-control-sm miInput" formControlName="fecha_fin" placeholder=" " />
              <label  class="form-label" for="fecha_fin">Fecha final</label>
              <div class="contieneLabelError">
                  <small class="labelError">{{ retotnaError('fecha_fin')}}&nbsp;</small>
              </div>
          </div>

          <div class="mb-2 floating-label-group col-md-12">
              <select id="id_sucursal" class="form-select form-select-sm miInput" formControlName="id_sucursal" (click)="sucursal()"  >
                  @for (sucursal of sucursales; track $index) {
                      @if( sucursal.activo == 0 ){
                          <option value="{{ sucursal.id }}">{{ sucursal.sucursal }}</option>
                      }
                  }
              </select>
              <label for="id_sucursal" class="form-label">Sucursal</label>
              <div class="contieneLabelError">
                  <small class="labelError">{{ retotnaError('id_sucursal')}}&nbsp;</small>
              </div>
          </div>

          <div class="mb-2 form-check col-md-6">
              <input class="form-check-input" type="checkbox" value="" id="todas" formControlName="todas" (click)="todas()">
              <label class="form-check-label" for="todas">
                  Todas la sucursales
              </label>
          </div>
          
      </div>

      <div class="botonera">  
          <div class="btn-group" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-aceptar" (click)="aceptar()" >Aceptar</button>
              <button type="button" class="btn btn-cancelar" (click)="cerrar()">Cerrar</button>
          </div>
      </div>

      <div class="card flex justify-center" style="border: none;">
          <p-toast [showTransformOptions]="'translateY(100%)'" [showTransitionOptions]="'1000ms'" [hideTransitionOptions]="'1000ms'" [showTransformOptions]="'translateX(100%)'" />
          {{ mensajeToast }} 
      </div>

  </form>
}@else {
  
<div class="estadisticas-container" *ngIf="mostrarReporte">
  <h2 class="titulo">📊 Estadísticas generales</h2>
  <ng-container *ngIf="resumenGeneral?.Data?.resumen_general">
    <div class="resumen">
      <div class="card resumen-item asignados">
        <h3>Asignados</h3>
        <p>{{ resumenGeneral.Data.resumen_general.asignados }}</p>
      </div>

      <div class="card resumen-item cancelados">
        <h3>Cancelados</h3>
        <p>{{ resumenGeneral.Data.resumen_general.cancelados }}</p>
      </div>

      <div class="card resumen-item atendidos">
        <h3>Atendidos</h3>
        <p>{{ resumenGeneral.Data.resumen_general.atendidos }}</p>
      </div>
    </div>
  </ng-container>

  <ng-container *ngFor="let seccion of secciones">
    <ng-container *ngIf="estadisticas?.Data?.[seccion.key]?.length > 0">
      <div class="bloque-seccion">
        <h3 class="subTitulo">{{ seccion.label }}</h3>
        <table class="tabla">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Cantidad</th>
              <th>Porcentaje</th>
              <th>Promedio</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of estadisticas.Data[seccion.key]">
              <td>{{ item.nombre }}</td>
              <td>{{ item.cantidad }}</td>
              <td>{{ item.porcentaje }}%</td>
              <td>{{ item.promedio }} </td>
            </tr>
            <button class="btn btn-outline-primary mt-1"><i class="bi bi-bar-chart-line"></i></button>
            <!-- *************************************************** -->
             <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                
                <button mat-menu-item >
                  <ng-container>
                      <span (click)="grafico( seccion.grafico, seccion.key, 'bar' )" class="textTipoGrafico">Barra vertical</span>
                  </ng-container>
                </button>

                <button mat-menu-item >
                  <ng-container>
                      <span (click)="grafico( seccion.grafico, seccion.key, 'line' )" class="textTipoGrafico">Línea</span>
                  </ng-container>
                </button>

                <button mat-menu-item >
                  <ng-container>
                      <span (click)="grafico( seccion.grafico, seccion.key, 'pie' )" class="textTipoGrafico">Pastel</span>
                  </ng-container>
                </button>

                <button mat-menu-item >
                  <ng-container>
                      <span (click)="grafico( seccion.grafico, seccion.key, 'doughnut' )" class="textTipoGrafico">Dona</span>
                  </ng-container>
                </button>

                <button mat-menu-item >
                  <ng-container>
                      <span (click)="grafico( seccion.grafico, seccion.key, 'radar' )" class="textTipoGrafico">Radar</span>
                  </ng-container>
                </button>

                <button mat-menu-item >
                  <ng-container>
                      <span (click)="grafico( seccion.grafico, seccion.key, 'polarArea' )" class="textTipoGrafico">Polar area</span>
                  </ng-container>
                </button>

                <button mat-menu-item >
                  <ng-container>
                      <span (click)="grafico( seccion.grafico, seccion.key, 'bubble' )" class="textTipoGrafico">Burbuja</span>
                  </ng-container>
                </button>

                <button mat-menu-item >
                  <ng-container>
                      <span (click)="grafico( seccion.grafico, seccion.key, 'scatter' )" class="textTipoGrafico">Dispersión (scatter)</span>
                  </ng-container>
                </button>

            </mat-menu> 
            <!-- *************************************************** -->
          </tbody>
        </table>
      </div>
    </ng-container>
  </ng-container>

<!-- Promedios de tiempos -->

  <ng-container *ngIf="estadisticas?.Data?.promedios_tiempos_operarios">
    <div class="bloque-seccion">
      <h3>Promedios de Tiempos en atenciones</h3>
      <table class="tabla">
        <thead>
          <tr>
            <th>Operario</th>
            <th>
              <span>P. Tiempo atención</span><br>
              <small class="subtitulo">H.inicio - H.final</small>
            </th>
            <th>
              <span>P. Tiempo espera</span><br>
              <small class="subtitulo">H.asignación - H.inicio</small>
            </th>
            <th>Atendidos</th>
             <th>Total horas laboradas</th>
          </tr>
        </thead>

        <tbody>
          @for (item of estadisticas?.Data?.promedios_tiempos_operarios; track $index) {
            <tr>
              <td>
                {{ item.operario_nombre }}
              </td>
              <td>
                {{ item.promedio_atencion_hms }}
              </td>
              <td>
                {{ item.promedio_espera_hms }}
              </td>
              <td>
                {{ item.total_turnos_atendidos }}
              </td>
              <td>
                  {{ estadisticas?.Data?.totales_tiempos_operarios[$index]?.total_atencion_hms }}
              </td>
            </tr>
          }
           <button class="btn btn-outline-primary mt-1"><i class="bi bi-bar-chart-line"></i></button>
          <!-- *************************************************** -->
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
              
              <button mat-menu-item >
                <ng-container>
                    <span (click)="graficoTotal( 'Horas laboradas', 'totales_tiempos_operarios', 'bar' )" class="textTipoGrafico">Barra vertical</span>
                </ng-container>
              </button>

              <button mat-menu-item >
                <ng-container>
                    <span (click)="graficoTotal( 'Horas laboradas', 'totales_tiempos_operarios', 'line' )" class="textTipoGrafico">Línea</span>
                </ng-container>
              </button>

              <button mat-menu-item >
                <ng-container>
                    <span (click)="graficoTotal( 'Horas laboradas', 'totales_tiempos_operarios', 'pie' )" class="textTipoGrafico">Pastel</span>
                </ng-container>
              </button>

              <button mat-menu-item >
                <ng-container>
                    <span (click)="graficoTotal( 'Horas laboradas', 'totales_tiempos_operarios', 'doughnut' )" class="textTipoGrafico">Dona</span>
                </ng-container>
              </button>

              <button mat-menu-item >
                <ng-container>
                    <span (click)="graficoTotal( 'Horas laboradas', 'totales_tiempos_operarios', 'radar' )" class="textTipoGrafico">Radar</span>
                </ng-container>
              </button>

              <button mat-menu-item >
                <ng-container>
                    <span (click)="graficoTotal( 'Horas laboradas', 'totales_tiempos_operarios', 'polarArea' )" class="textTipoGrafico">Polar area</span>
                </ng-container>
              </button>

              <button mat-menu-item >
                <ng-container>
                    <span (click)="graficoTotal( 'Horas laboradas', 'totales_tiempos_operarios', 'bubble' )" class="textTipoGrafico">Burbuja</span>
                </ng-container>
              </button>

              <button mat-menu-item >
                <ng-container>
                    <span (click)="graficoTotal( 'Horas laboradas', 'totales_tiempos_operarios', 'scatter' )" class="textTipoGrafico">Dispersión (scatter)</span>
                </ng-container>
              </button>

          </mat-menu> 
          <!-- *************************************************** -->

        </tbody>
      </table>
    </div>
  </ng-container>

  <ng-container *ngIf="estadisticas?.Data?.promedios_tiempo_recepcion_asignacion_por_usuario">
    <div class="bloque-seccion">
      <h3>Promedios inicio de atención</h3>
      <table class="tabla">
        <thead>
          <tr>
            <th>Operario</th>
            <th>
              <span>P. Tiempo esperado</span><br>
              <small class="subtitulo">H.llegada - H.asignación</small>
            </th>
            <th>Atendidos</th>
          </tr>
        </thead>

        <tbody>
          @for (item of estadisticas?.Data?.promedios_tiempo_recepcion_asignacion_por_usuario; track $index) {
            <tr>
              <td>
                {{ item.usuario_nombre }}
              </td>
              <td>
                {{ item.promedio_hms }}
              </td>
              <td>
                {{ item.total_turnos_procesados }}
              </td>
            </tr>
          }

        </tbody>
      </table>
    </div>
  </ng-container>

  <div class="acciones">
    <button mat-button color="primary" (click)="atras()">🖙 Volver</button>
  </div>

</div>
 


}